{% extends "layouts/default.html" %}

    {% block content %}
        <section class="section-intro px2 md-px4 py3">
            <div class="mx-auto">
                <div class="clearfix">
                    <div class="col">
                        <h1 class="intro-hdr line-height-2 mt0 mb0"><span class="ahd-orange">Addison Hall Design</span> is a small design shop that creates web stuff for all sorts of awesome people.</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-about px2 md-px4 pb2 lg-pb4">
            <div class="my3">
                <div class="clearfix mxn2">
                    <div class="col col-12 sm-col-6 lg-col-5 px2">
                        <p class="">I&rsquo;m a designer, web developer, and a bit of a WordPress nerd working out of Brandon, Mississippi. Since 2005, I&rsquo;ve worked with a lot of great people, both as clients or collaborators. So whether you&rsquo;re an organization in need of a complete website or you&rsquo;re a designer who needs help with code, I&rsquo;m happy to help however I can.</p>
                        <h2 class="h3 ">Here&rsquo;s how you can reach me:</h2>
                        <p class="">Email me at <a class="ahd-darker-orange" href="mailto:ah@addisonhalldesign.com">ah@addisonhalldesign.com</a> or join me for coffee and muffins at <i>Cups</i> in Flowood. Or I may be at my office:</p>
                        <p class="">506 Grants Ferry Road, Suite 204<br>
                        Brandon, Mississippi 39047</p>
                    </div>
                    <div class="col col-12 sm-col-6 lg-col-5 px2">
                        <p class="">Here are a few of the awesome people I&rsquo;ve worked with:</p>
                        <ul class="list-reset">
                            <li class="py1">
                                <a class="caps ls-3 text-decoration-none" href="http://blanchardgroup.com" target="_blank">Blanchard Group</a>
                                <span class="block h5">Master planning architectural firm</span>
                            </li>
                            <li class="py1">
                                <a class="bold caps ls-3 text-decoration-none" href="http://durfold.com" target="_blank">Durfold</a>
                                <span class="block h5">Health care furnishings provider</span>
                            </li>
                            <li class="py1">
                                <a class="bold caps ls-3 text-decoration-none" href="http://mississippifolklife.org" target="_blank">Mississippi Folklife</a>
                                <span class="block h5">Mississippi Arts Commission Magazine</span>
                            </li>
                            <li class="py1">
                                <a class="bold caps ls-3 text-decoration-none" href="http://hornellp.com" target="_blank">HORNE LLP</a>
                                <span class="block h5">National accounting and advisory firm</span>
                            </li>
                            <li class="py1">
                                <a class="bold caps ls-3 text-decoration-none" href="http://luckneyanimal.com/" target="_blank">Luckney Animal Hospital</a>
                                <span class="block h5">Local veterinarian</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}