{% extends "layouts/default.html" %}

{% set page_title = "Services" %}

{% block content %}

    <section class="section-page section-page-services px2 md-px4">
        <div class="overflow-hidden">
            <div class="md-flex md-mxn3">
                {# <div class="md-col-3 lg-col-3"></div> #}
                <div class="md-col-6 md-px3 mb3 md-mb0">
                    <h2>Website Design &amp; Development</h2>
                    <p>Working as a partner, I help my clients plan, design, build, and launch websites that are easy to use <em>and</em> easy to maintain.</p>
                    <h2>WordPress</h2>
                    <p>So that clients can focus on their work, I often help troubleshoot and maintain WordPress&mdash;whether it&rsquo;s managing backups, overseeing updates, or recovering from a hack.</p>
                </div>
                <div class="md-col-6 md-px3">
                    <h2>Ongoing Updates</h2>
                    <p>For sites that require frequent updates, I can assist in adding and maintaining content.</p>
                    <h2>Anything else?</h2>
                    <p>The solutions you require don&rsquo;t always fit neatly into any one category&mdash;feel free to contact me if something else is on your mind.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}