.home-intro-wrapper {
    /* background: #fff url('../img/heroes-on-a-shelf-lite-gray.jpg') no-repeat center top; */
    background-size: cover;
    /* border-top: 9px solid var(--color-primary); */
}

/* @media (--breakpoint-md) and (min-height: 596px) {
    .home-intro-wrapper {
        height: calc(100vh - 52px);
    }
} */

/* Intro text */
.intro-hdr {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.015em;
}
@media (--breakpoint-sm) {
    .intro-hdr {
        font-size: 2.6rem;
        letter-spacing: -0.025em;
    }
}

/* Work stuff */
.work-list li {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    /* border-top: 6px solid #fff; */
}

/* @media (--breakpoint-sm) {
    .work-list li:nth-child(2n) {
        border-left: 6px solid #fff;
    }
} */

.work-list a {
    background-color: rgba(255, 76, 0, 0.9);
    color: #fff;
    transition: background-color .5s ease;
}

.work-list-description::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    background-color: #fff;
    position: relative;
    top: 0.75em;
}

/* .work-list li:nth-child(2) a,
.work-list li:nth-child(3) a,
.work-list li:nth-child(6) a {
    background-color: rgba(255, 76, 0, 0.9);
} */

.work-list a:focus, .work-list a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
