@font-face{
    font-family: "zuume-soft";
    src: url("../fonts/zuume-soft/zuumesoft-semibold-webfont.woff2") format("woff2"),
         url("../fonts/zuume-soft/zuumesoft-semibold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "config-rounded";
    src: url("../fonts/config-rounded-web/ConfigRounded-Regular/font.woff2") format("woff2"),
         url("../fonts/config-rounded-web/ConfigRounded-Regular/font.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "config-rounded";
    src: url("../fonts/config-rounded-web/ConfigRounded-Italic/font.woff2") format("woff2"),
         url("../fonts/config-rounded-web/ConfigRounded-Italic/font.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}
@font-face{
    font-family: "config-rounded";
    src: url("../fonts/config-rounded-web/ConfigRounded-Bold/font.woff2") format("woff2"),
         url("../fonts/config-rounded-web/ConfigRounded-Bold/font.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}