@media (--breakpoint-md) {
    .figure-full-screen {
        position: relative;
        margin-right: -36px;
    }
    .figure-full-screen figcaption {
        position: absolute;
        top: var(--space-4);
        right: var(--space-4);
        transform: rotate(-90deg);
        transform-origin: bottom right;
    }
}