body {
    color: var(--color-darker-secondary);
    font-family: 'jubilat', serif;
    font-feature-settings: "kern" 1, "liga" 1, "case" 1, "onum" 1;
    font-kerning: normal;
    font-size: var(--body-font-size);
    text-rendering: auto;
}

.font-body {
    font-size: var(--body-font-size);
}

@media (--breakpoint-lg) {
    body,
    .font-body {
        font-size: var(--lg-body-font-size);
    }
}

blockquote, dl, ol, p, pre, ul {
    margin-top: 0;
    margin-bottom: 0.75em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-feature-settings: "liga" 1;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.25em;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-darker-secondary);
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

h1 + h2 {
    margin-top: 1em;
}

h1, .h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 1.15em;
}
h3 {
    font-size: 0.95em;
}
h4 { font-size: 1em; }
h5 { font-size: 1em; font-style: italic; }
h6 { font-size: 0.9em; font-style: italic; }

.big-menu {
    font-size: 3.6rem;
    font-weight: bold;
    letter-spacing: -0.025em;
}

.page-title {
    font-size: var(--body-font-size);
    font-weight: bold;
}
@media (--breakpoint-lg) {
    .page-title {
        font-size: var(--lg-body-font-size);
    }
}

.big-type {
    font-size: 3.6em;
}
@media (--breakpoint-lg) {
    .big-type {
        font-size: 7.2em;
        line-height: 1;
        margin-bottom: -0.375em;
    }
}

/* Font-weight */
.font-weight-300 { font-weight: 300; }

/* Letter-spacing */
.ls-0 { letter-spacing: 0; }
.ls-1 { letter-spacing: 0.025em; }
.ls-2 { letter-spacing: 0.05em; }
.ls-3 { letter-spacing: 0.075em; }
.ls-4 { letter-spacing: 0.1em; }

/* Negative letter-spacing */
.ls-n1 { letter-spacing: -0.025em; }
.ls-n2 { letter-spacing: -0.05em; }
.ls-n3 { letter-spacing: -0.075em; }
.ls-n4 { letter-spacing: -0.1em; }

.lowercase {
    text-transform: none;
}