body {
    color: var(--color-secondary);
    font-family: 'ConfigRounded', sans-serif;
    font-feature-settings: "liga" 1;
    font-kerning: normal;
    font-size: var(--body-font-size);
    /* letter-spacing: -0.0125em; */
}
@media (--breakpoint-lg) {
    body {
        font-size: var(--lg-body-font-size);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-feature-settings: "liga" 1;
    font-weight: 700;
}

/* Letter-spacing */
.ls-0 { letter-spacing: 0; }
.ls-1 { letter-spacing: 0.025em; }
.ls-2 { letter-spacing: 0.05em; }
.ls-3 { letter-spacing: 0.075em; }
.ls-4 { letter-spacing: 0.1em; }

/* Negative letter-spacing */
.ls-n1 { letter-spacing: -0.025em; }
.ls-n2 { letter-spacing: -0.05em; }
.ls-n3 { letter-spacing: -0.075em; }
.ls-n4 { letter-spacing: -0.1em; }

.lowercase {
    text-transform: none;
}