:root {
    /* Colors */
    --color-primary: #FF4C00;
    --color-darker-primary: #b93900;
    --color-secondary: #202020;
    --color-darker-secondary: #1E1E1E;

    /* Font sizes */
    --body-font-size: 18px;
    --lg-body-font-size: 21px;
}