:root {
    /* Colors */
    --color-primary: #FF4C00;
    --color-darker-primary: #b93900;
    --color-secondary: #585649;
    --color-darker-secondary: #3a3203;

    /* Font sizes */
    --body-font-size: 18px;
    --lg-body-font-size: 21px;
}