<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Addison Hall Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# <link rel="stylesheet" href="https://use.typekit.net/pst6jmh.css"> #}
        <link href="{{ urlPath }}/assets/css/site.css?v=1.0.6" rel="stylesheet">
        {% if urlPath != "https://addisonhalldesign" -%}
        <meta name="robots" content="noindex, nofollow">
        {%- endif %}
    </head>
    <body class="home">

        <header class="site-header pt3 pb3 px2 md-px4" role="header">
            <div class="mx-auto">
                <div class="clearfix">
                    <div class="col">
                        <img src="{{ urlPath }}/assets/img/ahd-logo.svg" class="site-logo">
                    </div>
                </div>
            </div>
        </header>

        <main class="site-main" role="main">
            {% block content -%}{%- endblock %}
        </main>

        <footer class="site-footer ahd-orange bg-white">
            <figure class="figure-full-screen m0 p0">
                <img src="{{ urlPath }}/assets/img/heroes-on-a-shelf-orange.jpg" alt="Heroes on the shelf at Addison Hall Design" class="fit">
                <figcaption class="white caps bold h5 px2 md-px0">Heroes on the shelf</figcaption>
            </figure>
            <div class="py2 md-py4 px2 md-px4">
                <div class="clearfix mxn2">
                    <div class="col col-12 md-col-6 lg-col-5 px2">
                        <p class="h4 bold">
                            Addison Hall is a proud type nerd.<br>
                            This little site was built using <a href="https://mozilla.github.io/nunjucks/" class="ahd-darker-orange">Nunjucks</a> and <a href="https://postcss.org/" class="ahd-darker-orange">PostCSS</a>.
                        </p>
                    </div>
                    <div class="col col-12 md-col-6 lg-col-5 px2">
                        <p class="h4 bold">&copy; 2018 Addison Hall Design</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{{ urlPath }}/assets/js/site.js"></script>
    </body>
</html>