<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Addison Hall Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# <link rel="stylesheet" href="https://use.typekit.net/pst6jmh.css"> #}
        <link href="{{ urlPath }}/assets/css/site.css?v=1.0.6" rel="stylesheet">
        {% if urlPath != "https://addisonhalldesign.com" -%}
        <meta name="robots" content="noindex, nofollow">
        {%- endif %}
    </head>
    <body class="home">

        {% block header %}
            {% include "includes/header.html" %}
        {% endblock %}

        {% block content -%}{%- endblock %}

        {% include "includes/footer.html" %}

        <script src="{{ urlPath }}/assets/js/site.js"></script>
    </body>
</html>