<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/html_head.html" %}
    </head>
    <body class="home">

        {% block header %}
            {% include "includes/header.html" %}
        {% endblock %}

        {% block content -%}{%- endblock %}

        {% include "includes/footer.html" %}

        {# <script>
            if('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('service-worker.js')
                    .then((registration) => {
                        console.log("Service Worker registration successful")
                    }, (err) => {
                        console.log("Registration failed")
                    })
                })
            }
        </script> #}

    </body>
</html>