{% set ftr_border_classes = " border-top ahd-border-light-gray" %}

{% if page_title == "Welcome" %}
    {% set ftr_border_classes = "" %}
{% endif %}

<footer class="site-footer px2 md-px4{{ ftr_border_classes }}">
    <div class="md-flex py3">
        <div class="md-col-4 md-pr3">
            <p>
                Addison Hall is a proud type nerd in Brandon, Mississippi.<br>
                This little site was built using <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> and <a href="https://postcss.org/">PostCSS</a>.
            </p>
        </div>
        <div class="md-col-4 md-pl2">
            <p>&copy; 2019 Addison Hall Design</p>
        </div>
    </div>
</footer>