<footer class="site-footer px2 md-px4">
    <div class="md-flex py3 border-top ahd-border-light-gray">
        <div class="md-col-3"></div>
        <div class="md-col-4">
            <p>
                Addison Hall is a proud type nerd.<br>
                This little site was built using <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> and <a href="https://postcss.org/">PostCSS</a>.
            </p>
        </div>
        <div class="md-col-4">
            <p>&copy; 2018 Addison Hall Design</p>
        </div>
    </div>
</footer>