<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ seo_title }}</title>
<meta name="description" content="{{ seo_description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.typekit.net/pst6jmh.css">
<link href="{{ urlPath }}/assets/css/site.css?v=1.0.6" rel="stylesheet">
{% if urlPath != "https://addisonhalldesign.com" -%}
<meta name="robots" content="noindex, nofollow">
{%- endif %}