<!-- {{ settings.urlPath }} -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ seo_title }}</title>
<meta name="description" content="{{ seo_description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.typekit.net/pst6jmh.css">
<link href="{{ urlsettings.urlPathPath }}/assets/css/site.css" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#585649">
<meta name="apple-mobile-web-app-title" content="Addison Hall Design">
<meta name="application-name" content="Addison Hall Design">
<meta name="msapplication-TileColor" content="#ff4c00">
<meta name="theme-color" content="#ff4c00">
{% if settings.urlPath != "https://addisonhalldesign.com" %}
<meta name="robots" content="noindex, nofollow">
{% endif %}