{% extends "layouts/default.html" %}

{% set page_title = "Contact" %}
{% set seo_title = "Contact Me | Addison Hall Design" %}
{% set seo_description = "Addison Hall Design world headquarters is located Brandon, Mississippi. Feel free to email or call at 601-906-5149." %}

{% block content %}

<section class="section-page section-page-services px2 md-px4">
    <div class="md-flex">
        {# <div class="md-col-3 lg-col-3"></div> #}
        <div class="md-col-9 lg-col-6">
            <h2>Get in touch. Let&rsquo;s talk.</h2>
            <p>Addison Hall Design world headquarters is located in a small office building in Brandon, Mississippi.</p>
            <p>
                Addison Hall Design, LLC<br>
                506 Grants Ferry Road, Suite 204<br>
                Brandon, MS 39047 (<a href="https://www.google.com/maps/place/Addison+Hall+Design,+LLC/@32.364408,-90.016858,15z/data=!4m5!3m4!1s0x0:0x4c056df4f8e10bb4!8m2!3d32.364408!4d-90.016858" target="_blank">Map it!</a>)
            </p>
            <p>
                <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#097;&#104;&#064;&#097;&#100;&#100;&#105;&#115;&#111;&#110;&#104;&#097;&#108;&#108;&#100;&#101;&#115;&#105;&#103;&#110;&#046;&#099;&#111;&#109;">&#097;&#104;&#064;&#097;&#100;&#100;&#105;&#115;&#111;&#110;&#104;&#097;&#108;&#108;&#100;&#101;&#115;&#105;&#103;&#110;&#046;&#099;&#111;&#109;</a><br>
                601-906-5149
            </p>
        </div>
    </div>
</section>

{% endblock %}